h2{
    display:flex;
    justify-content:center;
    align-items:center;
}

#col-4{
    display:flex;
    justify-content:center;
    align-items:center;
}

#col-6{
    display:flex;
    justify-content:center;
    align-items:center;
}

#alternating-img{
    height: 500px
}