.header{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Iceberg'
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:3%;
}

h2{
    justify-content:center;
    align-items:center;
    font-family: 'Iceberg'
}

.col-4{
    justify-content:center;
    align-items:center;
}

#kanye-quote{
    font-family: 'Iceberg';
}

#strangerthings-quote{
    font-family: 'Iceberg';
}

.container{
    margin-top: 3%;
}

p{
    font-family: 'Iceberg';
    font-size: larger;
}

#score{
    margin-right: 30%;
    font-family: 'Iceberg';
}

