.header{
    display:flex;
    justify-content: center;
    padding:10px;
    font-family: 'Libre Baskerville', serif;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    border: 3px solid gray;
    padding:10px;
    margin-bottom: 3%;
    font-family: 'Libre Baskerville', serif;
}

.row{
    display: flex;
    justify-content: center;
}

h2, h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkslategrey;
    text-decoration:double;
    font-weight:bold;
    font-family: 'Libre Baskerville', serif;
}

.footer{
    padding:10px;
    font-family: 'Libre Baskerville', serif;
    margin-top: 5%;
    
}

.jumbotron{
    margin-top: 3%;
}

p{
    font-size:large;
}

body{
    color: white;
    background: linear-gradient(to bottom, lightgray, rgb(172, 199, 199));
}

.img-fluid#img-1, #img-3{
    margin-right:5%;
}

.img-fluid#img-2{
    margin-left:5%;
}

.img-p{
    text-align:center;
}